

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }

  th, td {
    padding: 15px;
  } 

  table {
    border-spacing: 5px;
  }

  form{
    text-align:center;
    padding:15px;

  }

  input{
    border: solid 5;
    color: black;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
  }

  input, select, textarea {
    color: black;
  
    }

  header{
    text-align:center;
    margin:5px;
    font-size:100px;
    background-color:blue
  }
    input {
      border: solid 1px gray
    }